{% extends 'base.html' %}

{% block app_content %}
    <form id="test" method="post">
    {{ form.hidden_tag() }}

        <div class="container box has-background-grey-lighter">
            <div class="columns">
                <div class="column is-one-fith">
                    <div class="title has-text-centered">{{ artist.Artist }}</div>
                </div>

                <div class="column is-two-fifths has-background-light">
                    <div class="columns is-vcentered">
                        <div class="column is-one-fifths">
                            <button type="submit" name="move" class="button is-rounded is-warning">Move selected to target</button>
                        </div>
                        <div class="column is-two-fifth">
                            <label for="targetCollection" class="is-pulled-right"><b>Target:</b></label>
                        </div>
                        <div class="column is-two-fifth">
                            <div class="select">
                                <select name="targetCollection" id="targetCollection">
                                    {% for name, color in colors.items() %}
                                        <option value="{{ name }}" style="color: {{ color }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="column is-two-fifths">
                    <div class="columns is-vcentered">
                        <div class="column is-one-fifth">
                            <label for="workField" class="is-pulled-right"><b>Work: </b></label>
                        </div>
                        <div class="column is-one-fifth">
                            <input class="input" type="number" id="workField" name="work"
                                   min="0" max="9999" value="{{ nextWork }}"/>
                        </div>
                        <div class="column is-three-fifths">
                            <button type="submit" name="reload" class="button">Regenerate</button>
                            <button type="submit" name="process" class="button is-primary">Process</button>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        {% for key, work in artist.Works.items() | sort | reverse %}
            <div class="container box has-background-light">
                <div class="title is-size-4">
                    <div class="checkbox is-size-4">
                        <input type="checkbox" id="{{ key }}_checkbox" name="{{ key }}_checkbox">
                    </div>
                    <label for="{{ key }}_checkbox">{{ work.Work }}</label> @ <span style="color: {{ colors[work.Collection] }}">{{ work.Collection }}</span></div>
                <div class="columns">
                    <div class="column is-one-quarter"><div class="columns is-mobile">
                        {# Main thumbnail #}
                        <div class="column is-two-thirds">
                            <img style="display:block; margin: auto; border: 0.5em solid {{ colors[work.Collection] }}; border-radius: 0.5em;"
                                 src="{{ url_for('static', filename=work.MainThumbPath) }}"/>
                        </div>
                        {# Aspect list #}
                        <div class="column is-one-third">
                            {% for aspect, data in work.AllAspectsData.items() %}
                                <h4 style="color: {{ 'darkred' if data[0] is none else 'green' }}">
                                    {{ '☒' if data[0] is none else '☑' }} {{ aspect }}
                                </h4>
                            {% endfor %}
                        </div>
                    </div></div>
                    <div class="column is-three-quarters">
                        {# Small thumbnails #}
                        {% for row in work.AllAspectsData.items() | batch(4) %}
                            <div class="columns is-mobile">
                                {% for aspect, data in row %}
                                    <div class="column" style="border: solid 1px gray; margin: 1px">
                                        {% if data[0] is none %}
                                            <p style="text-align: center; color: darkred">{{ aspect }}</p>
                                            <p style="text-align: center;">✘</p>
                                        {% else %}
                                            <p style="text-align: center; color: green">{{ data[0] }}</p>
                                            <img style="display:block; margin: auto" src="{{ url_for('static', filename=data[1]) }}"/>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}

    </form>
{% endblock %}
