{% block doc -%}
    <!DOCTYPE html>
    <html{% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
        <head>
        {%- block head %}
            <title>{% block title %}
                {% if title %}{{ title }} - Wallsorter{% else %}Wallsorter{% endif %}
            {% endblock title %}</title>

            {%- block metas %}
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
            {%- endblock metas %}

            {%- block styles %}
                <link rel="stylesheet" href="{{ url_for('static', filename='bulma.min.css') }}">
            {%- endblock styles %}
        {%- endblock head %}
        </head>

        <body{% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%}
            {% block content -%}
                <section class="section">
                    <div class="container">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                          {% if messages %}

                            {% for category, message in messages %}
                              <div class="notification {{ category }}">{{ message }}</div>
                            {% endfor %}

                          {% endif %}
                        {% endwith %}

                        {% block app_content %}
                        {% endblock %}
                    </div>
                </section>
            {%- endblock content %}

            {% block scripts %}

            {%- endblock scripts %}
        {%- endblock body %}
        </body>
    {%- endblock html %}
    </html>
{% endblock doc -%}