{% extends 'base.html' %}

{% block app_content %}
    <div class="title">Artists:</div>
    {% for row in artists | sort | batch(8) %}
        <div class="columns">
            {% for artist in row %}
                <div class="column"><div class="button">
                    <a href="{{ url_for('artist', name=artist) }}"> {{ artist }}</a>
                </div></div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
